<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Директории и файлы</title>
    <style type="text/css">
        .marginLeft {
            margin-left: 10px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function loadFiles(id) {
            $.ajax('./json', {
                method : 'get',
                data: {"id": id},
                complete: function (data) {
                    var items = JSON.parse(data.responseText);
                    var title = items[0].pathTable.path + " " + items[0].pathTable.time;
                    var info = items.realtimeinfo;
                    var winPrinter = window.open(this.href,'_blank','left=200, top=200, location=no, directories=no, status=no, menubar=yes, scrollbars=yes, width=400, height=600');
                    var result = "<!DOCTYPE html><html>";
                    result += "<head><meta http-equiv='Content-Type' content='text/html; charset=utf-8' />";
                    result += "<title>" + title + "</title></head>";
                    result += "<body><div style='margin-left: 10px'>";
                    result += "<table border='1' id='table_items'><thead><tr bgcolor='#dcdcdc'><td>Файл</td><td>Размер</td></tr></thead><tbody>";
                    result += "</tbody></table></div>";
                    result += "<br><button type='button' onclick='window.close()'>Закрыть</button></body></html>";
                    winPrinter.document.write(result);
                    var table = winPrinter.document.getElementById("table_items");
                    for (var i=0; i != items.length; i++) {
                        var row = table.insertRow(-1);
                        row.insertCell(-1).innerHTML = items[i].name;
                        if (items[i].size == 'DIR') {
                            row.insertCell(-1).innerHTML = '&lt' + items[i].size + '&gt';
                        } else {
                            row.insertCell(-1).innerHTML = items[i].size;
                        }
                    }
                    winPrinter.document.close();
                    winPrinter.blur();
                }
            });
        }
    </script>
</head>
<body>
<div class="marginLeft">
    <h1>Директории и файлы</h1>
</div>
<div class="marginLeft">
    <form th:action="@{/main}" method="post">
        <div><label>Новая директория: <input type="text" name="path" style="width: 50%" /></label> <input type="submit" value="Добавить в список"/></div>
    </form>
</div>
<div class="marginLeft" th:if="${error}" style="color: red">
    Путь не найден (<label th:text="${error}"/>)
</div>
<div class="marginLeft">
    <h3>Список директорий и файлов</h3>
</div>
<div class="marginLeft">
    <table cellspacing="2" border="2">
        <thead>
        <tr bgcolor="#dcdcdc">
            <th>Дата</th>
            <th>Базовая директория</th>
            <th>Директорий</th>
            <th>Файлов</th>
            <th>Суммарный размер файлов</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item: ${paths}">
            <td th:text="${item.time}" style="padding: 5px"></td>
            <td th:text="${item.path}"></td>
            <td th:text="${item.countDir}" align="center"></td>
            <td th:text="${item.countFile}" align="center"></td>
            <td th:text="${item.sumFile}" align="right"></td>
            <td><input type="button" value="Файл" th:onclick="|loadFiles('${item.id}')|"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>