<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title><th:block th:text="${path}"></th:block></title>
    <style type="text/css">
        .marginLeft {
            margin-left: 10px;
        }
    </style>
</head>
<body>
<div class="marginLeft">
    <h2 th:text="${path}"></h2>
    <h3><a href="/main">Назад</a></h3>
</div>
<div class="marginLeft">
    <table cellspacing="2" border="2">
        <thead>
        <tr bgcolor="#dcdcdc">
            <th>Файл</th>
            <th>Размер</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item: ${list}">
            <td th:text="${item.name}" style="padding: 5px"></td>
            <td th:text="${item.size}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="marginLeft">
    <h3><a href="/main">Назад</a></h3>
</div>
</body>
</html>