<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Получить полную ссылку</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div class="shortUrl">
    <form th:action="@{/full}" method="post">
        <div>
            <label>Введите короткий URL: <input type="text" name="url" th:value="${url}" style="width: 20%" /></label>
            <input type="submit" value="Получить URL"/></div>
    </form>
</div>
<div class="alert" th:if="${error}">
    <label th:text="${error}"/>
</div>
<div class="url">
    <h4><a th:href="@{/main}">Сгенерировать короткий URL</a></h4>
</div>
</body>
</html>