<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Получить полную ссылку</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function jsonPostUrl() {
            if (document.getElementById("url").value !== '') {
                var data = window.btoa($("#url").val());
                $.ajax
                ({
                    url: "./fullUrl",
                    method: "POST",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({"url": data}),
                    success: function(responseJsonObject){
                        if (responseJsonObject.status > 0) {
                            location.href = "/main?url=" + responseJsonObject.url;
                        } else {
                            document.getElementById("error").innerHTML = responseJsonObject.error;
                        }
                    }
                });
            } else {
                document.getElementById("error").innerHTML = "URL не может быть пустым!";
            }
        }
    </script>
</head>
<body>
<div class="shortUrl">
    <label>Введите короткий URL: <input type="text" name="url" id="url" th:value="${url}" style="width: 50%" /></label>
    <input type="button" value="Получить URL" onclick="jsonPostUrl()">
</div>
<div class="alert">
    <label id="error"/>
</div>
<div class="url">
    <h4><a th:href="@{/main}">Сгенерировать короткий URL</a></h4>
</div>
</body>
</html>