<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создать короткую ссылку</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function jsonPostUrl() {
            if (document.getElementById("url").value !== '') {
                var data = window.btoa($("#url").val());
                $.ajax
                ({
                    url: "./shortUrl",
                    method: "POST",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({"url": data}),
                    success: function(responseJsonObject){
                        if (responseJsonObject.status > 0) {
                            location.href = "/shortUrl?url=" + responseJsonObject.url;
                        } else {
                            document.getElementById("error").innerHTML = responseJsonObject.error;
                        }
                    }
                });
            } else {
                document.getElementById("error").innerHTML = "URL не может быть пустым!";
            }
        }
    </script>
    <script th:inline="javascript">
        window.onload = function () {
            var json = JSON.parse([[${json}]]);
            if (json.status === -1) {
                document.getElementById("error").innerHTML = json.error;
            }
            if (json.url) {
                document.getElementById("url").value = window.atob(json.url);
            }
        };
    </script>
</head>
<body>
<div class="main">
    <h1>Создать короткую ссылку</h1>
    <h5>Поддерживются ссылки вида: 'http://' и 'https://'</h5>
</div>
<div class="url">
    <label>Введите URL: <input type="text" name="url" id="url" style="width: 50%" /></label>
    <input type="button" value="Сгенерировать" onclick="jsonPostUrl()">
</div>
<div class="alert">
    <label id="error"/>
</div>
<div class="url">
    <h4><a th:href="@{/fullUrl}">Получить полную ссылку из короткой</a></h4>
</div>
</body>
</html>