<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Короткая ссылка</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function copyUrl() {
            var text = document.getElementById("url");
            text.select();
            document.execCommand("copy");
        }
        window.onload = function () {
            copyUrl();
        };
    </script>
</head>
<body>
<div class="shortUrl">
    <div>
        <label>Короткий URL: <input type="text" name="url" id="url" th:value="${shortUrl}" style="width: 20%" /></label>
        <input type="button" value="Скопировать" onclick="copyUrl();">
    </div>
</div>
<div class="url">
    <h4><a th:href="@{/main}">Создать еще одну короткую ссылку</a></h4>
</div>
<div class="url">
    <h4><a th:href="@{/full(url=${shortUrl})}">Получить полную ссылку из короткой</a></h4>
</div>
</body>
</html>